@page
@model PS3_NET.Pages.TestModel
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <h1> Witaj, wprowadziles takie dane : </h1>
    
    <p>Imię: @Model.firstName</p>
    
    <p>Email: @Model.Email</p>
    
    <p>Wiek: @Model.age</p>
   
    <p>Płeć: @Model.sex</p>
    
    <p>Waga: @Model.weight</p>

    <p>Wzrost: @Model.height m</p>

    <p>Twoje BMI wynosi:</p>


        @if ((ViewBag.BMI = @Model.BMI) < 20 || (ViewBag.BMI = @Model.BMI) > 30)
        {
            <p class="text-danger">@Model.BMI</p>
        }
        else
        {
            <p class="text-success">@Model.BMI</p>
        }
</body>
</html>
